<section class="cuadricula bordes absolute" id="definePrisma">
  <h1 class="modulo-h1">Prisma</h1>
  <h2 class="modulo-h2 col-start-2 row-start-4 col-span-5 row-span-5">
    Es una figura geométrica tridimensional que se caracteriza por tener dos
    bases idénticas y paralelas, que pueden ser cualquier polígono (triángulo,
    cuadrado, pentágono, etc.). Estas bases están unidas por caras laterales que
    son paralelogramos.
  </h2>
  <div
    class="col-start-8 row-start-3 col-span-4 row-span-6"
    id="figuraPrisma"
  ></div>
  <a
    href="#"
    class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
    id="1"
    >Click para continuar</a
  >
</section>
<section class="cuadricula bordes absolute" id="partesPrisma">
  <h1 class="modulo-h1">Partes de un prisma</h1>
  <div
    class="col-start-3 row-start-3 col-span-8 row-span-8"
    id="figuraPartesPrisma"
  ></div>
  <a
    href="#"
    class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
    id="2"
    >Click para continuar</a
  >
</section>

<section class="cuadricula bordes absolute" id="calculosPrisma">
  <h1 class="modulo-h1">Calculos de prisma</h1>
  <article
    class="col-start-2 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Area</h2>
    <div class="w-3/4">
      <img src="../assets/images/figuras/prismaArea.png" alt="" />
    </div>
    <h2 class="modulo-h2">(2 x Area de base) + Area de las caras</h2>
  </article>
  <article
    class="col-start-7 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Volumen</h2>
    <div class="w-3/4">
      <img src="../assets/images/figuras/prismaVolumen.png" alt="" />
    </div>
    <h2 class="modulo-h2">Area de base * altura</h2>
  </article>
  <a
    href="#"
    class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
    id="3"
    >Click para continuar</a
  >
</section>

<section class="cuadricula bordes absolute" id="preguntaPrisma">
  <h1 class="modulo-h1">Problema</h1>
  <h1 class="modulo-h1">Prisma</h1>
  <div class="row-start-4 col-start-2 row-span-6 col-span-4" id="prisma2"></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un prisma rectangular tiene una base de 5 cm x 4 cm y una altura de 8
        cm. ¿Cuál es su volumen?
      </h2>
      <a
        href="#"
        class="text-secondary-400 font-semibold text-xl hover:text-secondary-500 text-center"
        >Ver respuesta</a
      >
    </aside>
    <aside class="flex">
      <input
        type="text"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
      >
        ->
      </button>
    </aside>
  </article>
</section>
<script type="module" src="./lib/three/three.mod3.c1.js"></script>
<script src="./lib/anime/modulo3/c1.js"></script>
