<div
  class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
  id="respuestaIncorrecta"
>
  <div
    class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
  >
    <h1 class="text-6xl text-red-500">Incorrecto</h1>
    <h2 class="text-4xl text-red-500">Vuelve a intentar</h2>
  </div>
</div>
<div
  class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
  id="respuestaCorrecta"
>
  <div
    class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
  >
    <h1 class="text-6xl text-green-500">Respuesta correcta!</h1>
    <h2 class="text-4xl text-green-500">Bien hecho!</h2>
  </div>
</div>
<section class="cuadricula bordes absolute" id="defineCubo">
  <h1 class="modulo-h1">Cubo</h1>
  <h2 class="modulo-h2 col-start-2 row-start-4 col-span-5 row-span-5">
    Es un sólido geométrico que tiene seis caras cuadradas iguales. Imagina una
    caja perfecta, donde todas las caras son cuadrados del mismo tamaño y todos
    los ángulos son rectos.
  </h2>
  <div class="col-start-8 row-start-3 col-span-4 row-span-6" id="cubo1"></div>
  <a
    href="#"
    class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
    id="1"
    >Click para continuar</a
  >
</section>
<section class="cuadricula bordes absolute" id="partesCubo">
  <h1 class="modulo-h1">Partes de un cubo</h1>
  <div
    class="col-start-3 row-start-2 col-span-8 row-span-8"
    id="cuboFigura"
  ></div>
  <a
    href="#"
    class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
    id="2"
    >Click para continuar</a
  >
</section>

<section class="cuadricula bordes absolute" id="calculosCubo">
  <h1 class="modulo-h1">Calculos de cubo</h1>
  <article
    class="col-start-2 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Area</h2>
    <div class="w-3/4">
      <img src="../assets/images/figuras/cubo.png" alt="" />
    </div>
    <h2 class="modulo-h2">6 x Lado²</h2>
  </article>
  <article
    class="col-start-7 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Volumen</h2>
    <div class="w-3/4">
      <img src="../assets/images/figuras/cubo.png" alt="" />
    </div>
    <h2 class="modulo-h2">Lado³</h2>
  </article>
  <a
    href="#"
    class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
    id="3"
    >Click para continuar</a
  >
</section>

<section class="cuadricula bordes absolute" id="preguntaCubo">
  <h1 class="modulo-h1">Problema</h1>
  <h1 class="modulo-h1">Cubo</h1>
  <div class="row-start-4 col-start-2 row-span-6 col-span-4" id="cubo2"></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un cubo tiene una arista de 3 cm. ¿Cuál es su volumen?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaCubo"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnCubo"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<script type="module" src="./lib/three/three.mod3.c3.js"></script>
<script src="./lib/anime/modulo3/c3.js"></script>
