<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flat-World</title>
    <link rel="stylesheet" href="../../assets/styles/main.css" />
    <script
      type="module"
      src="../../../node_modules/raphael/raphael.min.js"
    ></script>
    <script src="../../../node_modules/animejs/lib/anime.min.js"></script>
    <script src="../../services/three.js"></script>
  </head>
  <body class="overflow-hidden">
    <div
      class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
      id="respuestaIncorrecta"
    >
      <div
        class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
      >
        <h1 class="text-6xl text-red-500">Respuesta incorrecta</h1>
      </div>
    </div>
    <div
      class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
      id="respuestaCorrecta"
    >
      <div
        class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
      >
        <h1 class="text-6xl text-green-500">Respuesta correcta!</h1>
        <h2 class="text-4xl text-green-500">Bien hecho!</h2>
      </div>
    </div>
    <section class="cuadricula bordes absolute" id="defineCono">
      <h1 class="modulo-h1">Cono</h1>
      <h2 class="modulo-h2 col-start-3 row-start-5 col-span-4 row-span-5">
        El cono es una figura geométrica tridimensional que se constituye al
        girar un triángulo rectángulo alrededor de uno de sus catetos.
      </h2>
      <div
        class="col-start-8 row-start-3 col-span-4 row-span-6"
        id="cono1"
      ></div>
      <a
        href="#"
        class="col-start-8 row-start-12 col-span-4 text-center font-semibold hover:text-secondary-500 text-secondary-400 text-xl font-Open-Sans"
        id="1"
        >Siguiente</a
      >
    </section>
    <section class="cuadricula bordes absolute" id="partesCono">
      <h1 class="modulo-h1">Partes de un cono</h1>
      <div
        class="col-start-3 row-start-3 col-span-8 row-span-8"
        id="figuraCono"
      ></div>
      <a
        href="#"
        class="col-start-8 row-start-12 col-span-4 text-center font-semibold hover:text-secondary-500 text-secondary-400 text-xl font-Open-Sans"
        id="2"
        >Siguiente</a
      >
      <a
        href="#"
        class="col-start-3 row-start-12 col-span-4 text-center font-semibold text-secondary-400 hover:text-secondary-500 text-xl font-Open-Sans"
        id="-1"
        >Regresar</a
      >
    </section>

    <section class="cuadricula bordes absolute" id="calculosCono">
      <h1 class="modulo-h1">Cálculos de cono</h1>
      <article
        class="col-start-2 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
      >
        <h2 class="modulo-h2">Área</h2>
        <div class="w-3/4">
          <img src="../../assets/images/figuras/cono.png" alt="" />
        </div>
        <h2 class="modulo-h2">π x r x (r + a)</h2>
      </article>
      <article
        class="col-start-7 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
      >
        <h2 class="modulo-h2">Volumen</h2>
        <div class="w-3/4">
          <img src="../../assets/images/figuras/cono.png" alt="" />
        </div>
        <h2 class="modulo-h2">(π x r² x h) / 3</h2>
      </article>
      <a
        href="#"
        class="col-start-8 row-start-12 col-span-4 text-center font-semibold hover:text-secondary-500 text-secondary-400 text-xl font-Open-Sans"
        id="3"
        >Siguiente</a
      >
      <a
        href="#"
        class="col-start-3 row-start-12 col-span-4 text-center font-semibold text-secondary-400 hover:text-secondary-500 text-xl font-Open-Sans"
        id="-2"
        >Regresar</a
      >
    </section>

    <section class="cuadricula bordes absolute" id="preguntaCono">
      <h1 class="modulo-h1">Problema</h1>
      <h1 class="modulo-h1">Cono</h1>
      <div
        class="row-start-4 col-start-2 row-span-6 col-span-4"
        id="cono2"
      ></div>
      <article
        class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
      >
        <aside
          class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
        >
          <h2 class="modulo-h2">
            Un cono tiene una altura de 10 cm y el radio de su base es de 3 cm.
            ¿Cuál es su volumen?
          </h2>
        </aside>
        <aside class="flex">
          <input
            type="number"
            class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
            placeholder="Respuesta"
            id="respuestaCono"
          />
          <button
            class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
            id="btnCono"
          >
            <img src="../../assets/images/flecha.png" alt="" />
          </button>
        </aside>
      </article>
    </section>
    <script
      type="module"
      src="../../renderer/lib/three/three.mod3.c4.js"
    ></script>
    <script src="../../renderer/lib/anime/modulo3/c4.js"></script>

    <script src="../../renderer/app.js"></script>
  </body>
</html>
