<section class="cuadricula" id="defineCono">
  <h1 class="modulo-h1">Cono</h1>
  <h2 class="modulo-h2 col-start-3 row-start-5 col-span-4 row-span-5">
    El cono es una figura geométrica tridimensional que se constituye al girar
    un triángulo rectángulo alrededor de uno de sus catetos.
  </h2>
  <div class="col-start-8 row-start-3 col-span-4 row-span-6" id="cono1"></div>
</section>
<section class="cuadricula" id="partesCono">
  <h1 class="modulo-h1">Partes de un cono</h1>
  <div
    class="col-start-3 row-start-3 col-span-8 row-span-8"
    id="figuraCono"
  ></div>
</section>

<section class="cuadricula" id="calculosCono">
  <h1 class="modulo-h1">Calculos de cono</h1>
  <article
    class="col-start-2 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Area</h2>
    <div class="w-3/4">
      <img src="../assets/images/figuras/cono.png" alt="" />
    </div>
    <h2 class="modulo-h2">π x r x (r + a)</h2>
  </article>
  <article
    class="col-start-7 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Volumen</h2>
    <div class="w-3/4">
      <img src="../assets/images/figuras/cono.png" alt="" />
    </div>
    <h2 class="modulo-h2">(π x r² x h) / 3</h2>
  </article>
</section>

<section class="cuadricula" id="preguntaCono">
  <h1 class="modulo-h1">Problema</h1>
  <h1 class="modulo-h1">Cono</h1>
  <div class="row-start-4 col-start-2 row-span-6 col-span-4" id="cono2"></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un cono tiene una altura de 10 cm y el radio de su base es de 3 cm.
        ¿Cuál es su volumen?
      </h2>
      <a
        href="#"
        class="text-secondary-400 font-semibold text-xl hover:text-secondary-500 text-center"
        >Ver respuesta</a
      >
    </aside>
    <aside class="flex">
      <input
        type="text"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
      >
        ->
      </button>
    </aside>
  </article>
</section>
<script type="module" src="./lib/three/three.mod3.c4.js"></script>
