<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flat-World</title>
    <link rel="stylesheet" href="../../assets/styles/main.css" />
    <script
      type="module"
      src="../../../node_modules/raphael/raphael.min.js"
    ></script>
    <script src="../../../node_modules/animejs/lib/anime.min.js"></script>
    <script src="../../services/three.js"></script>
  </head>
  <body class="overflow-hidden">
    <div
      class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
      id="respuestaIncorrecta"
    >
      <div
        class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
      >
        <h1 class="text-6xl text-red-500">Respuesta incorrecta</h1>
        <h2 class="text-3xl text-red-500">
          Respuesta correcta: <span id="feedbackIncorrecto"></span>
        </h2>
      </div>
    </div>
    <div
      class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
      id="respuestaCorrecta"
    >
      <div
        class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
      >
        <h1 class="text-6xl text-green-500">Respuesta correcta!</h1>
        <h2 class="text-4xl text-green-500">Bien hecho!</h2>
      </div>
    </div>
    <section class="cuadricula bordes absolute" id="defineEsfera">
      <h1 class="modulo-h1 row-start-2">Esfera</h1>
      <h2 class="modulo-h2 col-start-2 row-start-5 col-span-6 row-span-5">
        Una esfera es una figura geométrica tridimensional que representa todos
        los puntos del espacio que se encuentran a una distancia fija de un
        punto central. Imagina una pelota de fútbol: todos los puntos de su
        superficie están a la misma distancia del centro.
      </h2>
      <div
        class="col-start-9 row-start-4 col-span-3 row-span-5"
        id="esfera1"
      ></div>
      <a
        href="#"
        class="col-start-8 row-start-12 col-span-4 text-center font-semibold hover:text-secondary-500 text-secondary-400 text-xl font-Open-Sans"
        id="1"
        >Siguiente</a
      >
    </section>
    <section class="cuadricula bordes absolute" id="partesEsfera">
      <h1 class="modulo-h1">Partes de una esfera</h1>
      <div
        class="col-start-3 row-start-2 col-span-8 row-span-8"
        id="esferaFigura"
      ></div>
      <a
        href="#"
        class="col-start-8 row-start-12 col-span-4 text-center font-semibold hover:text-secondary-500 text-secondary-400 text-xl font-Open-Sans"
        id="2"
        >Siguiente</a
      >
      <a
        href="#"
        class="col-start-3 row-start-12 col-span-4 text-center font-semibold text-secondary-400 hover:text-secondary-500 text-xl font-Open-Sans"
        id="-1"
        >Regresar</a
      >
    </section>

    <section class="cuadricula bordes absolute" id="calculosEsfera">
      <h1 class="modulo-h1">Cálculos de esfera</h1>
      <article
        class="col-start-2 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
      >
        <h2 class="modulo-h2">Área</h2>
        <div class="w-3/4">
          <img src="../../assets/images/figuras/esfera.png" alt="" />
        </div>
        <h2 class="modulo-h2">4 x π x r²</h2>
      </article>
      <article
        class="col-start-7 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
      >
        <h2 class="modulo-h2">Volumen</h2>
        <div class="w-3/4">
          <img src="../../assets/images/figuras/esfera.png" alt="" />
        </div>
        <h2 class="modulo-h2">(4/3) x π x r³</h2>
      </article>
      <a
        href="#"
        class="col-start-8 row-start-12 col-span-4 text-center font-semibold hover:text-secondary-500 text-secondary-400 text-xl font-Open-Sans"
        id="3"
        >Siguiente</a
      >
      <a
        href="#"
        class="col-start-3 row-start-12 col-span-4 text-center font-semibold text-secondary-400 hover:text-secondary-500 text-xl font-Open-Sans"
        id="-2"
        >Regresar</a
      >
    </section>

    <section class="cuadricula bordes absolute" id="preguntaEsfera">
      <h1 class="modulo-h1">Problema</h1>
      <h1 class="modulo-h1">Esfera</h1>
      <div
        class="row-start-4 col-start-2 row-span-6 col-span-4"
        id="esfera2"
      ></div>
      <article
        class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
      >
        <aside
          class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
        >
          <h2 class="modulo-h2">
            Una esfera tiene un diámetro de 8 cm. ¿Cuál es su volumen?
          </h2>
        </aside>
        <aside class="flex">
          <input
            type="number"
            class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
            placeholder="Respuesta"
            id="respuestaEsfera"
          />
          <button
            class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
            id="btnEsfera"
          >
            <img src="../../assets/images/flecha.png" alt="" />
          </button>
        </aside>
      </article>
    </section>
    <script
      type="module"
      src="../../renderer/lib/three/three.mod3.c6.js"
    ></script>
    <script src="../../renderer/lib/anime/modulo3/c6.js"></script>
  </body>
</html>
