<section class="cuadricula" id="defineEsfera">
  <h1 class="modulo-h1">Esfera</h1>
  <h2 class="modulo-h2 col-start-2 row-start-4 col-span-6 row-span-5">
    Una esfera es una figura geométrica tridimensional que representa todos los
    puntos del espacio que se encuentran a una distancia fija de un punto
    central. Imagina una pelota de fútbol: todos los puntos de su superficie
    están a la misma distancia del centro.
  </h2>
  <div
    class="col-start-9 row-start-4 col-span-3 row-span-5 bg-green-600 border-8 border-green-200"
  ></div>
</section>
<section class="cuadricula" id="partesEsfera">
  <h1 class="modulo-h1">Partes de una esfera</h1>
  <h2 class="modulo-h2 col-start-2 row-start-2 col-span-3 row-span-2">
    Puedes hacer click en cualquier parte para saber mas de ella.
  </h2>
  <div class="col-start-3 row-start-3 col-span-8 row-span-8 bg-green-100"></div>
</section>

<section class="cuadricula" id="calculosEsfera">
  <h1 class="modulo-h1">Calculos de esfera</h1>
  <article
    class="col-start-2 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Area</h2>
    <div class="h-20 bg-green-200 w-3/4"></div>
    <h2 class="modulo-h2">4 x π x r²</h2>
  </article>
  <article
    class="col-start-7 row-start-2 col-span-5 row-span-7 flex flex-col items-center"
  >
    <h2 class="modulo-h2">Volumen</h2>
    <div class="h-20 bg-green-200 w-3/4"></div>
    <h2 class="modulo-h2">(4/3) x π x r³</h2>
  </article>
</section>

<section class="cuadricula" id="preguntaEsfera">
  <h1 class="modulo-h1">Problema</h1>
  <h1 class="modulo-h1">Esfera</h1>
  <article
    class="row-start-4 col-start-2 row-span-6 col-span-4 bg-green-200"
  ></article>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Una esfera tiene un diámetro de 8 cm. ¿Cuál es su volumen?
      </h2>
      <a
        href="#"
        class="text-secondary-400 font-semibold text-xl hover:text-secondary-500 text-center"
        >Ver respuesta</a
      >
    </aside>
    <aside class="flex">
      <input
        type="text"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
      >
        ->
      </button>
    </aside>
  </article>
</section>
