<div class="cuadricula">
  <nav
    class="col-start-1 row-start-1 col-span-12 row-span-2 bg-blue-950 flex items-center px-8"
  >
    <button
      class="bg-blue-950 text-yellow-400 shadow-lg shadow-black font-semibold text-xl py-4 px-8 font-Open-Sans"
    >
      Volver
    </button>
    <h1
      class="text-yellow-400 font-bold text-4xl flex-1 text-center font-Ubuntu"
    >
      Escoger leccion
    </h1>
  </nav>
  <section
    class="leccion desbloqueada col-start-2 row-start-4 bg-a1 row-span-3 col-span-2"
    id="a1"
  >
    <h3 class="text-blue-950 font-semibold text-xl text-center">Leccion A:1</h3>
    <a href="#" class="leccion-desbloqueada-a">Triangulos</a>
  </section>
  <section
    class="leccion desbloqueada col-start-5 row-start-4 bg-a2 row-span-3 col-span-2"
    id="a2"
  >
    <h3 class="text-blue-950 font-semibold text-xl text-center">Leccion A:1</h3>
    <a href="#" class="leccion-desbloqueada-a">Triangulos</a>
  </section>
  <section
    class="leccion bloqueada col-start-8 row-start-4 row-span-3 col-span-2"
    id="a3"
  >
    <h3 class="leccion-h3">Por desbloquear</h3>
    <img src="../assets/images/candado.png" alt="" class="w-1/2" />
  </section>
  <section
    class="leccion bloqueada col-start-3 row-start-8 row-span-3 col-span-2"
    id="a4"
  >
    <h3 class="leccion-h3">Por desbloquear</h3>
    <img src="../assets/images/candado.png" alt="" class="w-1/2" />
  </section>
  <section
    class="leccion bloqueada col-start-6 row-start-8 row-span-3 col-span-2"
    id="a5"
  >
    <h3 class="leccion-h3">Por desbloquear</h3>
    <img src="../assets/images/candado.png" alt="" class="w-1/2" />
  </section>
  <section
    class="leccion bloqueada col-start-9 row-start-8 row-span-3 col-span-2"
    id="a6"
  >
    <h3 class="leccion-h3">Por desbloquear</h3>
    <img src="../assets/images/candado.png" alt="" class="w-1/2" />
  </section>
</div>
