<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flat-World</title>
    <link rel="stylesheet" href="../../assets/styles/main.css" />
    <script
      type="module"
      src="../../../node_modules/raphael/raphael.min.js"
    ></script>
    <script src="../../../node_modules/animejs/lib/anime.min.js"></script>
    <script src="../../services/three.js"></script>
  </head>
  <body class="overflow-hidden">
    <div class="cuadricula">
      <nav
        class="col-start-1 row-start-1 col-span-12 row-span-2 bg-blue-950 flex items-center px-8"
      >
        <a
          href="../paginaPrincipal.html"
          class="bg-blue-950 text-yellow-400 shadow-lg shadow-black font-semibold text-xl py-4 px-8 font-Open-Sans"
        >
          Volver
        </a>
        <h1
          class="text-yellow-400 font-bold text-4xl flex-1 text-center font-Ubuntu"
        >
          Escoger leccion
        </h1>
      </nav>
      <section
        class="leccion desbloqueada col-start-3 row-start-4 bg-a1 row-span-3 col-span-2"
        id="a1"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion A:1
        </h3>
        <a href="../modulo1/a1.html" class="leccion-desbloqueada-a"
          >Triangulos</a
        >
      </section>
      <section
        class="leccion desbloqueada col-start-6 row-start-4 bg-a2 row-span-3 col-span-2"
        id="a2"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion A:2
        </h3>
        <a href="../modulo1/a2.html" class="leccion-desbloqueada-a"
          >Cuadrilateros</a
        >
      </section>
      <section
        class="leccion desbloqueada bg-a3 col-start-9 row-start-4 row-span-3 col-span-2"
        id="a3"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion A:2
        </h3>
        <a href="../modulo1/a3.html" class="leccion-desbloqueada-a">Rombos</a>
      </section>
      <section
        class="leccion desbloqueada bg-a4 col-start-4 row-start-8 row-span-3 col-span-2"
        id="a4"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion A:2
        </h3>
        <a href="../modulo1/a4.html" class="leccion-desbloqueada-a"
          >Paralelogramas</a
        >
      </section>
      <section
        class="leccion desbloqueada bg-a5 col-start-7 row-start-8 row-span-3 col-span-2"
        id="a5"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion A:2
        </h3>
        <a href="../modulo1/a5.html" class="leccion-desbloqueada-a"
          >Problemas</a
        >
      </section>
    </div>
    <script src="../../renderer/app.js"></script>
  </body>
</html>
