<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flat-World</title>
    <link rel="stylesheet" href="../../assets/styles/main.css" />
    <script
      type="module"
      src="../../../node_modules/raphael/raphael.min.js"
    ></script>
    <script src="../../../node_modules/animejs/lib/anime.min.js"></script>
    <script src="../../services/three.js"></script>
  </head>
  <body class="overflow-hidden">
    <div class="cuadricula">
      <nav
        class="col-start-1 row-start-1 col-span-12 row-span-2 bg-blue-950 flex items-center px-8"
      >
        <a
          href="../paginaPrincipal.html"
          class="bg-blue-950 text-yellow-400 shadow-lg shadow-black font-semibold text-xl py-4 px-8 font-Open-Sans"
        >
          Volver
        </a>
        <h1
          class="text-yellow-400 font-bold text-4xl flex-1 text-center font-Ubuntu"
        >
          Escoger leccion
        </h1>
      </nav>
      <section
        class="leccion desbloqueada bg-c1 col-start-1 row-start-4 row-span-3 col-span-2"
        id="c1"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion C:1
        </h3>
        <a href="../modulo3/c1.html" class="leccion-desbloqueada-a">Prismas</a>
      </section>
      <section
        class="leccion desbloqueada bg-c2 col-start-4 row-start-4 row-span-3 col-span-2"
        id="c2"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion C:2
        </h3>
        <a href="../modulo3/c2.html" class="leccion-desbloqueada-a">Piramide</a>
      </section>
      <section
        class="leccion desbloqueada bg-c3 col-start-7 row-start-4 row-span-3 col-span-2"
        id="c3"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion C:3
        </h3>
        <a href="../modulo3/c3.html" class="leccion-desbloqueada-a">Cubo</a>
      </section>
      <section
        class="leccion desbloqueada bg-c4 col-start-10 row-start-4 row-span-3 col-span-2"
        id="c4"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion C:4
        </h3>
        <a href="../modulo3/c4.html" class="leccion-desbloqueada-a">Cono</a>
      </section>
      <section
        class="leccion desbloqueada bg-c5 col-start-2 row-start-8 row-span-3 col-span-2"
        id="c5"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion C:5
        </h3>
        <a href="../modulo3/c5.html" class="leccion-desbloqueada-a">Cilindro</a>
      </section>
      <section
        class="leccion desbloqueada bg-c6 col-start-5 row-start-8 row-span-3 col-span-2"
        id="c6"
      >
        <h3 class="text-blue-950 font-semibold text-xl text-center">
          Leccion C:6
        </h3>
        <a href="../modulo3/c6.html" class="leccion-desbloqueada-a">Esfera</a>
      </section>
    </div>
    <script src="../../renderer/app.js"></script>
  </body>
</html>
