<section class="cuadricula" id="defineTrapecio">
  <h1 class="modulo-h1">Trapecios</h1>
  <h2
    class="modulo-h2 col-start-3 row-start-2 col-span-8 row-span-2 text-center"
  >
    Tiene dos lados paralelos, y dos lados no paralelos. Los lados paralelos se
    llaman bases del trapecio
  </h2>
  <div
    class="col-start-4 row-start-4 col-span-6 row-span-6"
    id="trapecioEjemplo"
  ></div>
</section>
<section class="cuadricula" id="trapecioRectangulo">
  <h1 class="modulo-h1">Trapecio Rectangulo</h1>
  <h2
    class="modulo-h2 col-start-3 row-start-2 col-span-8 row-span-2 text-center"
  >
    Tiene un angulo recto, esto significa que uno de los lados no paralelos es
    perpendicular a la base.
  </h2>
  <div
    class="col-start-4 row-start-4 col-span-6 row-span-6"
    id="trapecioRectanguloForma"
  ></div>
</section>
<section class="cuadricula" id="trapecioIsosceles">
  <h1 class="modulo-h1">Trapecio Isosceles</h1>
  <h2
    class="modulo-h2 col-start-3 row-start-2 col-span-8 row-span-2 text-center"
  >
    Los dos lados no paralelos tienen la misma longitud. Además, los ángulos que
    se forman entre cada base y un lado no paralelo son iguales.
  </h2>
  <div
    class="col-start-4 row-start-4 col-span-6 row-span-6"
    id="trapecioIsoscelesForma"
  ></div>
</section>
<section class="cuadricula" id="trapecioEscaleno">
  <h1 class="modulo-h1">Trapecio escaleno</h1>
  <h2
    class="modulo-h2 col-start-3 row-start-2 col-span-8 row-span-2 text-center"
  >
    Ninguno de sus lados ni ángulos es igual. Es decir, todos sus lados tienen
    longitudes diferentes y todos sus ángulos tienen medidas diferentes.
  </h2>
  <div
    class="col-start-4 row-start-4 col-span-6 row-span-6"
    id="trapecioEscalenoForma"
  ></div>
</section>
<section class="cuadricula" id="calculoAreaTrapecio">
  <h1 class="modulo-h1">Calculo de area de un trapecio</h1>
  <div
    class="col-start-2 row-start-3 col-span-3 row-span-5"
    id="trapecioArea"
  ></div>

  <h2 class="modulo-h2 col-start-1 row-start-8 col-span-5 row-span-1">
    A = ((B + b ) * h ) / 2
  </h2>

  <h2 class="col-start-7 row-start-3 col-span-5 row-span-4">
    Descripcion de como calcular el area
  </h2>
</section>
<section class="cuadricula" id="calculoAreaTrapecio">
  <h1 class="modulo-h1">Calculo de perimetro de un trapecio</h1>
  <div
    class="col-start-2 row-start-3 col-span-3 row-span-5"
    id="trapecioPerimetro"
  ></div>

  <h2 class="modulo-h2 col-start-1 row-start-8 col-span-5 row-span-1">
    P = a + b + c + d
  </h2>

  <h2 class="col-start-7 row-start-3 col-span-5 row-span-4">
    Descripcion de como calcular el perimetro
  </h2>
</section>
<script type="module" src="./lib/raphael/raphael.mod2.b1.js"></script>
