<section class="cuadricula">
  <h1 class="modulo-h1">Relacion entre figuras</h1>
  <h1 class="modulo-h1">Pregunta 1</h1>
  <div
    class="row-start-3 col-start-6 row-span-3 col-span-2 bg-violet-200"
  ></div>
  <h2 class="modulo-h2 row-start-7 col-start-2 col-span-10 text-center">
    ¿Un rombo puede ser también un cuadrado? ¿Por qué?
  </h2>
  <article
    class="col-start-2 row-start-7 row-span-4 col-span-10 flex flex-col justify-center items-center"
  >
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        Si, haciendo todos los ángulos rectos
      </button>
      <button class="botonPreguntas">No, no se puede</button>
    </aside>
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">Si, girando la figura</button>
      <button class="botonPreguntas">Si, girando la figura</button>
    </aside>
  </article>
  <article class="respuesta row-start-12 col-start-2 col-span-10 bg-red-200">
    Respuesta correcta o incorrecta
  </article>
</section>
