<section class="cuadricula" id="pregunta1">
  <h1 class="modulo-h1">Relacion entre figuras</h1>
  <h1 class="modulo-h1">Pregunta 1</h1>
  <div class="row-start-3 col-start-6 row-span-3 col-span-2" id="rombo"></div>
  <h2 class="modulo-h2 row-start-7 col-start-2 col-span-10 text-center">
    ¿Un rombo puede ser también un cuadrado? ¿Por qué?
  </h2>
  <article
    class="col-start-2 row-start-7 row-span-4 col-span-10 flex flex-col justify-center items-center"
  >
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        Si, haciendo todos los ángulos rectos
      </button>
      <button class="botonPreguntas">
        No, porque sus lados no son iguales.
      </button>
    </aside>
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        No, un rombo nunca puede tener ángulos rectos.
      </button>
      <button class="botonPreguntas">
        Sí, si tiene dos lados opuestos paralelos.
      </button>
    </aside>
  </article>
  <article class="respuesta row-start-12 col-start-2 col-span-10 bg-red-200">
    Respuesta correcta o incorrecta
  </article>
</section>

<section class="cuadricula" id="pregunta2">
  <h1 class="modulo-h1">Relacion entre figuras</h1>
  <h1 class="modulo-h1">Pregunta 2</h1>
  <div
    class="row-start-3 col-start-6 row-span-3 col-span-2"
    id="rectangulo"
  ></div>
  <h2 class="modulo-h2 row-start-7 col-start-2 col-span-10 text-center">
    ¿Todos los rectángulos son paralelogramos? ¿Por qué?
  </h2>
  <article
    class="col-start-2 row-start-7 row-span-4 col-span-10 flex flex-col justify-center items-center"
  >
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        No, porque sus ángulos no son rectos.
      </button>
      <button class="botonPreguntas">Sí, sus lados son paralelos.</button>
    </aside>
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        No, porque los paralelogramos no tienen lados iguales.
      </button>
      <button class="botonPreguntas">
        Sí, si tienen ángulos iguales en todos sus vértices.
      </button>
    </aside>
  </article>
  <article class="respuesta row-start-12 col-start-2 col-span-10 bg-red-200">
    Respuesta correcta o incorrecta
  </article>
</section>

<section class="cuadricula" id="pregunta3">
  <h1 class="modulo-h1">Relacion entre figuras</h1>
  <h1 class="modulo-h1">Pregunta 3</h1>
  <div
    class="row-start-3 col-start-6 row-span-3 col-span-2"
    id="trapecioIsosceles"
  ></div>
  <h2 class="modulo-h2 row-start-7 col-start-2 col-span-10 text-center">
    ¿Un trapecio isósceles puede ser también un paralelogramo? ¿Por qué?
  </h2>
  <article
    class="col-start-2 row-start-7 row-span-4 col-span-10 flex flex-col justify-center items-center"
  >
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        No, porque todos sus lados deben ser paralelos.
      </button>
      <button class="botonPreguntas">
        Sí, porque sus ángulos son iguales.
      </button>
    </aside>
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        Sí, si sus lados opuestos son iguales.
      </button>
      <button class="botonPreguntas">
        No, porque tiene dos lados no paralelos.
      </button>
    </aside>
  </article>
  <article class="respuesta row-start-12 col-start-2 col-span-10 bg-red-200">
    Respuesta correcta o incorrecta
  </article>
</section>

<section class="cuadricula" id="pregunta4">
  <h1 class="modulo-h1">Relacion entre figuras</h1>
  <h1 class="modulo-h1">Pregunta 4</h1>
  <div
    class="row-start-3 col-start-6 row-span-3 col-span-2"
    id="cuadrado"
  ></div>
  <h2 class="modulo-h2 row-start-7 col-start-2 col-span-10 text-center">
    ¿Cuál tiene mayor área, un cuadrado de lado 7 cm o un rectángulo de base 8
    cm y altura 6 cm?
  </h2>
  <article
    class="col-start-2 row-start-7 row-span-4 col-span-10 flex flex-col justify-center items-center"
  >
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">
        El rectángulo, porque tiene mayor altura.
      </button>
      <button class="botonPreguntas">
        El rectángulo, porque tiene mayor base.
      </button>
    </aside>
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">El cuadrado.</button>
      <button class="botonPreguntas">Ambos tienen la misma área.</button>
    </aside>
  </article>
  <article class="respuesta row-start-12 col-start-2 col-span-10 bg-red-200">
    Respuesta correcta o incorrecta
  </article>
</section>

<section class="cuadricula" id="pregunta5">
  <h1 class="modulo-h1">Relacion entre figuras</h1>
  <h1 class="modulo-h1">Pregunta 5</h1>
  <div
    class="row-start-3 col-start-6 row-span-3 col-span-2"
    id="triangulo"
  ></div>
  <h2 class="modulo-h2 row-start-7 col-start-2 col-span-10 text-center">
    Determinar el lado de un triángulo equilátero cuyo perímetro es igual al de
    un cuadrado de 12 cm de lado.
  </h2>
  <article
    class="col-start-2 row-start-7 row-span-4 col-span-10 flex flex-col justify-center items-center"
  >
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">16 cm</button>
      <button class="botonPreguntas">12 cm</button>
    </aside>
    <aside class="w-full flex justify-center content-center items-center">
      <button class="botonPreguntas">10 cm</button>
      <button class="botonPreguntas">8 cm</button>
    </aside>
  </article>
  <article class="respuesta row-start-12 col-start-2 col-span-10 bg-red-200">
    Respuesta correcta o incorrecta
  </article>
</section>
<script type="module" src="./lib/raphael/raphael.mod2.b3.js"></script>
