<div class="cuadricula bg-intro bg-cover bg-no-repeat">
  <button class="col-start-1 row-start-1">SALIR</button>
  <div class="col-start-2 row-start-1 col-span-2 row-span-3">
    <img src="../assets/images/logo.png" alt="" />
  </div>
  <div
    class="col-start-4 row-start-3 col-span-6 row-span-7 flex flex-col justify-around items-center gap-8"
  >
    <h1 class="titulo font-light text-8xl">
      FLAT <span class="font-bold">WORLD</span>
    </h1>
    <p class="parrafo font-extralight text-3xl italic text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quod
      ducimus vel perspiciatis labore, voluptatibus, corrupti illo amet nesciunt
      nostrum, error sunt inventore ullam blanditiis.
    </p>
    <button
      class="text-2xl font-bold tracking-wider text-blue-950 border-4 border-blue-950 rounded-3xl p-4 bg-white hover:bg-blue-950 hover:text-yellow-500 active:opacity-75"
      id="btnVamosAprender"
    >
      VAMOS A APRENDER
    </button>
    <p class="parrafo text-2xl font-semibold">
      Es mi
      <a
        href="#"
        class="text-yellow-500 hover:text-yellow-700"
        id="btnPrimeraVez"
        >primera vez</a
      >
    </p>
  </div>

  <!-------------------------------
      ------------------REGISTRO -----------
     ------------------------------------>
  <div
    class="hidden grid grid-cols-12 grid-rows-12 h-screen p-4 bg-black/25 absolute top-0 left-0 w-full"
    id="registro"
  >
    <div
      class="bg-white shadow-lg shadow-white rounded-xl col-start-4 row-start-2 col-span-6 row-span-10 grid grid-cols-6 grid-rows-8"
    >
      <div
        class="col-start-2 row-start-1 col-span-4 row-span-9 flex flex-col justify-evenly"
      >
        <h3 class="titulo text-3xl text-center font-medium">
          Registro de nuevo estudiante
        </h3>
        <input class="inputFormulario" type="text" placeholder="Cedula" />
        <input
          class="inputFormulario"
          type="password"
          placeholder="Nombre completo"
        />
        <input class="inputFormulario" type="password" placeholder="Clave" />
        <input class="inputFormulario" type="password" placeholder="Seccion" />
        <button class="botonFormulario font-Open-Sans">ENTRAR</button>
        <div class="flex justify-around">
          <a
            href=""
            class="text-yellow-500 font-bold text-2xl hover:text-yellow-600 font-Open-Sans"
            id="btnTengoCuenta"
            >Ya tengo una cuenta</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------
      ------------------LOGIN -----------
     ------------------------------------>
  <div
    class="hidden grid grid-cols-12 grid-rows-12 h-screen p-4 bg-black/25 absolute top-0 left-0"
    id="login"
  >
    <div
      class="bg-white shadow-lg shadow-white rounded-xl col-start-4 row-start-3 col-span-6 row-span-8 grid grid-cols-6 grid-rows-8"
    >
      <div
        class="col-start-2 row-start-2 col-span-4 row-span-6 flex flex-col justify-around"
      >
        <h3 class="titulo text-3xl text-center font-medium">
          Bienvenido! Inicia sesion para continuar.
        </h3>
        <input class="inputFormulario" placeholder="Nickname o cedula" />
        <input class="inputFormulario" type="password" placeholder="Clave" />
        <button class="botonFormulario">ENTRAR</button>
        <div class="flex justify-around">
          <a
            href=""
            class="text-yellow-500 font-bold text-2xl hover:text-yellow-600 font-Open-Sans"
            >Olvide mi clave</a
          >
          <a
            href=""
            class="text-yellow-500 font-bold text-2xl hover:text-yellow-600 font-Open-Sans"
            id="btnSoyNuevo"
            >Soy nuevo</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
