<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flat-World</title>
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <script
      type="module"
      src="../../node_modules/raphael/raphael.min.js"
    ></script>
    <script src="../../node_modules/animejs/lib/anime.min.js"></script>
    <script src="../services/three.js"></script>
  </head>
  <body class="overflow-hidden">
    <div class="grid grid-cols-12 grid-rows-12 h-screen p-4 bg-principal">
      <div class="col-start-11 row-start-3 col-span-2">
        <h1 class="text-6xl font-Ubuntu font-bold text-primary-950">
          <span id="moduloActual"></span> / 4
        </h1>
      </div>
      <!--CARD DESIGN STARTS HERE-->
      <aside
        class="row-start-1 col-start-1 row-span-12 col-span-2 bg-primary-950 flex flex-col justify-evenly items-center flex-wrap p-4"
        id="datosEstudiante"
      >
        <img
          src="../assets/images/user.png"
          alt=""
          class="rounded-full w-1/2"
        />
        <div class="flex flex-col gap-2">
          <h5
            class="text-center font-bold text-secondary-400 text-lg font-Poppins"
            id="nombreUsuario"
          ></h5>
          <h3
            class="text-center font-bold text-secondary-400 text-lg font-Poppins"
          >
            Un gusto verte!
          </h3>
        </div>
        <p
          class="text-center font-bold text-secondary-400 text-lg font-Poppins"
        >
          Seccion <span id="seccionUsuario"></span>
        </p>
      </aside>
      <div class="card card-yellow" id="carta1">
        <img src="../assets/images/modulo1-card.jpg" alt="" class="card-img" />
        <div class="card-body">
          <h3 class="text-secondary-400 font-semibold text-lg font-Ubuntu">
            Primer módulo
          </h3>
          <h2 class="text-primary-950 font-bold text-2xl font-Ubuntu">
            Conociendo las figuras geométricas
          </h2>
          <p class="text-secondary-400 font-Poppins">
            Descubre las formas básicas: triángulos, cuadrados, rombos y
            paralelogramos. ¡Aprende a identificarlas y clasificarlas!
          </p>
        </div>
        <div class="row-span-2 col-span-4 flex justify-center items-center">
          <a
            href="../views/lecciones/modulo1Lecciones.html"
            class="card-button text-center"
            >Empezar la lección</a
          >
        </div>
      </div>

      <div class="card card-blue" id="carta2">
        <img src="../assets/images/modulo2-card.jpg" alt="" class="card-img" />
        <div class="card-body">
          <h3 class="text-primary-950 font-semibold text-lg font-Ubuntu">
            Segundo módulo
          </h3>
          <h2 class="text-secondary-400 font-bold text-2xl font-Ubuntu">
            Los distintos tipos de trapecio.
          </h2>
          <p class="text-primary-950 font-Poppins">
            Aprende a identificar y clasificar los distintos tipos de trapecios
            según sus características. Aprende a identificar y clasificar los
            distintos tipos de trapecios según sus características.
          </p>
        </div>
        <div class="row-span-2 col-span-4 flex justify-center items-center">
          <a
            href="../views/lecciones/modulo2Lecciones.html"
            class="card-button text-center"
            >Empezar la lección</a
          >
        </div>
      </div>

      <div class="card card-yellow" id="carta3">
        <img src="../assets/images/modulo3-card.jpg" alt="" class="card-img" />
        <div class="card-body">
          <h3 class="text-secondary-400 font-semibold text-lg font-Ubuntu">
            Tercer módulo
          </h3>
          <h2 class="text-primary-950 font-bold text-2xl font-Ubuntu">
            Volumen en poliedros regulares e irregulares.
          </h2>
          <p class="text-secondary-400 font-Poppins">
            Aprende a determinar el volumen de prismas, pirámides, esferas,
            cubos, conos y cilindros. Explora las fórmulas y métodos para
            calcular el volumen de diferentes sólidos geométricos.
          </p>
        </div>
        <div class="row-span-2 col-span-4 flex justify-center items-center">
          <a
            href="../views/lecciones/modulo3Lecciones.html"
            class="card-button text-center"
            >Empezar la lección</a
          >
        </div>
      </div>

      <div class="card card-blue" id="carta4">
        <img src="../assets/images/modulo4-card.png" alt="" class="card-img" />
        <div class="card-body">
          <h3 class="text-primary-950 font-semibold text-lg font-Ubuntu">
            Cuarto módulo
          </h3>
          <h2 class="text-secondary-400 font-bold text-2xl font-Ubuntu">
            Cuerpos geométricos en la vida real
          </h2>
          <p class="text-primary-950 font-Poppins">
            Descubre cómo las formas geométricas están presentes en los objetos
            de nuestra vida cotidiana. Aplica tus conocimientos de geometría
            para identificar y analizar objetos tridimensionales en tu entorno.
          </p>
        </div>
        <div class="row-span-2 col-span-4 flex justify-center items-center">
          <a
            href="../views/lecciones/modulo4Lecciones.html"
            class="card-button text-center"
            >Empezar la lección</a
          >
        </div>
      </div>
      <div
        class="botones row-start-11 col-start-11 col-span-2 flex items-end justify-around"
      >
        <button class="botonFormulario" id="atras">Atras</button>
        <button class="botonFormulario w-1/2" id="adelante">Siguiente</button>
      </div>
    </div>

    <script src="../renderer/lib/anime/principal.js"></script>

    <script>
      const nombreUsuario = document.querySelector("#nombreUsuario");
      const seccionUsuario = document.querySelector("#seccionUsuario");
      const datosEstudiante = sessionStorage.getItem("datos");
      const datosJson = JSON.parse(datosEstudiante);
      nombreUsuario.innerHTML = `${datosJson.nombre} ${datosJson.apellido}`;
      seccionUsuario.innerHTML = datosJson.seccion;
    </script>
  </body>
</html>
