@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Poppins/Poppins-LightItalic.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cuadricula {
  @apply grid grid-cols-12 grid-rows-12 h-screen p-4;
}

.titulo {
  @apply text-primary-950 font-Ubuntu;
}

.parrafo {
  @apply font-Poppins;
}

.botonFormulario {
  @apply text-yellow-500 font-bold bg-blue-950 rounded-lg p-4 font-Open-Sans active:bg-blue-900 hover:shadow-inner hover:shadow-white;
}

.inputFormulario {
  @apply h-12 px-2 text-orange-300 font-Open-Sans placeholder:text-orange-300 outline-none rounded-lg focus:placeholder:transition-transform focus:placeholder:duration-300 focus:placeholder:-translate-y-3.5 focus:text-xs ease-in duration-300 bg-blue-100;
}

.card {
  @apply col-start-6 row-start-2 col-span-4 row-span-10 grid grid-cols-4 grid-rows-10 p-4 bg-secondary-100 rounded-3xl;
  box-shadow: 10px 10px #f99507;
}

.card-img {
  @apply col-start-1 row-start-1 col-span-4 row-span-4 rounded-t-3xl w-full h-full;
}

.card-body {
  @apply col-start-1 row-start-5 col-span-4 row-span-4 flex flex-col justify-evenly w-4/5;
}

.card-button {
  @apply text-center text-primary-950 font-bold text-xl rounded-2xl border-4 border-primary-950 w-3/5 p-4 font-Open-Sans bg-secondary-400  hover:bg-secondary-500 active:opacity-75;
}

.leccion {
  @apply flex flex-col items-center;
}
.bloqueada {
  @apply bg-gradient-to-b from-secondary-100 to-secondary-400 border-4 border-blue-950 rounded-2xl  justify-around;
}
.desbloqueada {
  @apply bg-cover bg-center rounded-2xl border-4 border-secondary-400 justify-center gap-4;
}
.leccion-h3 {
  @apply text-primary-950 font-semibold text-xl text-center font-Ubuntu;
}
.leccion-desbloqueada-a {
  @apply text-primary-950 bg-secondary-400 font-semibold text-xl py-2 px-4 rounded-lg font-Open-Sans;
}
.leccion-desbloqueada-a:hover {
  @apply bg-secondary-500;
}
.leccion-desbloqueada-a:active {
  @apply bg-secondary-600;
}
