<section class="cuadricula" id="defineCuadrilatero">
  <h1 class="modulo-h1">CUADRILATERO</h1>
  <article class="row-start-3 col-span-12">
    <h2 class="modulo-h2">Son poligonos de cuatro lados. Se dividen en dos</h2>
  </article>
  <article
    class="col-start-3 row-start-5 col-span-8 row-span-6 flex justify-around"
  >
    <aside>
      <div class="figura"></div>
      <h2 class="modulo-h2">Cuadrado</h2>
    </aside>
    <aside>
      <div class="figura"></div>
      <h2 class="modulo-h2">Rectangulo</h2>
    </aside>
  </article>
</section>
<section class="cuadricula" id="defineCuadrado">
  <h1 class="modulo-h1">CUADRADO</h1>
  <article class="row-start-2 col-start-2 row-span-8 col-span-5"></article>
  <article
    class="row-start-2 col-start-7 row-span-8 col-span-5 flex flex-col items-center justify-around"
  >
    <h2 class="modulo-h2">
      Tiene cuatro lados iguales y cuatro angulos rectos.
    </h2>
    <button
      class="font-bold text-primary-950 bg-secondary-400 hover:bg-secondary-500 active:bg-secondary-600 text-xl rounded-md w-max px-8 py-2 font-Open-Sans"
    >
      Como calcular el area
    </button>
    <button
      class="font-bold text-primary-950 bg-secondary-400 hover:bg-secondary-500 active:bg-secondary-600 text-xl rounded-md w-max px-8 py-2 font-Open-Sans"
    >
      Como calcular el perimetro
    </button>
  </article>
</section>
<section class="cuadricula" id="defineRectangulo">
  <h1 class="modulo-h1">Rectangulo</h1>
  <article class="row-start-2 col-start-7 row-span-8 col-span-5"></article>
  <article
    class="row-start-2 col-start-2 row-span-8 col-span-5 flex flex-col items-center justify-around"
  >
    <h2 class="modulo-h2">
      Tiene dos pares de lados iguales y cuatro angulos rectos.
    </h2>
    <button
      class="font-bold text-primary-950 bg-secondary-400 hover:bg-secondary-500 active:bg-secondary-600 text-xl rounded-md w-max px-8 py-2 font-Open-Sans"
    >
      Como calcular el area
    </button>
    <button
      class="font-bold text-primary-950 bg-secondary-400 hover:bg-secondary-500 active:bg-secondary-600 text-xl rounded-md w-max px-8 py-2 font-Open-Sans"
    >
      Como calcular el perimetro
    </button>
  </article>
</section>
<section class="cuadricula" id="resumenCuadrilatero">
  <h1 class="modulo-h1">RESUMEN</h1>
  <h1 class="modulo-h1">Preguntas de Si y No</h1>
</section>
