<section class="cuadricula" id="defineRombo">
  <h1 class="modulo-h1">ROMBO</h1>
  <article
    class="col-start-2 row-span-5 col-span-4 row-span-4 text-center flex items-center"
  >
    <h2 class="modulo-h2 text-center">
      Tiene cuatro lados iguales, dos angulos agudos y dos obtusos.
    </h2>
  </article>
  <article></article>
</section>
<section class="cuadricula" id="calculoRombo">
  <h1 class="modulo-h1 row-start-1">ROMBO</h1>
  <h1 class="modulo-h1 row-start-2 text-center">Calculos</h1>
  <article
    class="col-start-3 row-start-3 col-span-8 row-span-8 flex justify-between"
  >
    <aside class="flex flex-col justify-evenly items-center">
      <h2 class="modulo-h2">Area</h2>
      <div class="forma"></div>
    </aside>
    <aside class="flex flex-col justify-evenly">
      <h2 class="modulo-h2">Perimetro</h2>
      <div class="forma"></div>
    </aside>
  </article>
</section>
<section class="cuadricula" id="resumenRombo">
  <h1 class="modulo-h1">RESUMEN</h1>
  <h1 class="modulo-h1">Preguntas de Si y No</h1>
</section>
