<section class="cuadricula" id="defineRombo">
  <h1 class="modulo-h1">ROMBO</h1>
  <article
    class="col-start-2 row-start-5 col-span-3 row-span-4 text-center flex items-center"
  >
    <h2 class="modulo-h2 text-center">
      Tiene cuatro lados iguales, dos angulos agudos y dos obtusos.
    </h2>
  </article>
  <div
    class="row-start-3 col-start-5 row-span-9 col-span-4"
    id="romboEjemplo"
  ></div>
</section>
<section class="cuadricula" id="calculoRombo">
  <h1 class="modulo-h1 row-start-1">ROMBO</h1>
  <h1 class="modulo-h1 row-start-2 text-center">Calculos</h1>
  <article
    class="col-start-3 row-start-3 col-span-8 row-span-1 flex justify-around"
  >
    <aside class="flex flex-col justify-evenly items-center">
      <h2 class="modulo-h2">Area</h2>
    </aside>
    <aside class="flex flex-col justify-evenly">
      <h2 class="modulo-h2">Perimetro</h2>
    </aside>
  </article>
  <div
    class="col-start-3 row-start-4 col-span-8 row-span-7"
    id="romboCalculos"
  ></div>
</section>
<section class="cuadricula" id="resumenRombo">
  <h1 class="modulo-h1">RESUMEN</h1>
  <h1 class="modulo-h1">Preguntas de Si y No</h1>
</section>
<script type="module" src="./lib/raphael/raphael.mod1.a3.js"></script>
