<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flat-World</title>
    <link rel="stylesheet" href="../../assets/styles/main.css" />
    <script
      type="module"
      src="../../../node_modules/raphael/raphael.min.js"
    ></script>
    <script src="../../../node_modules/animejs/lib/anime.min.js"></script>
    <script src="../../services/three.js"></script>
  </head>
  <body class="overflow-hidden">
    <section class="cuadricula bordes absolute" id="defineRombo">
      <h1 class="modulo-h1">ROMBO</h1>
      <article
        class="col-start-2 row-start-5 col-span-3 row-span-4 text-center flex items-center"
      >
        <h2 class="modulo-h2 text-center">
          Tiene cuatro lados iguales, dos ángulos agudos y dos obtusos.
        </h2>
      </article>
      <div
        class="row-start-3 col-start-5 row-span-9 col-span-4"
        id="romboEjemplo"
      ></div>
      <a
        href="#"
        class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
        id="1"
        >Click para continuar</a
      >
    </section>
    <section class="cuadricula bordes absolute" id="calculoRombo">
      <h1 class="modulo-h1 row-start-1">ROMBO</h1>
      <h1 class="modulo-h1 row-start-2 text-center">Cálculos</h1>
      <article
        class="col-start-2 row-start-3 col-span-10 row-span-1 flex justify-center"
      >
        <aside class="flex flex-col justify-center items-center mr-72">
          <h2 class="modulo-h2">Área</h2>
          <h2 class="modulo-h2">( D x d ) / altura</h2>
        </aside>
        <aside class="flex flex-col justify-center mr-16">
          <h2 class="modulo-h2">Perímetro</h2>
          <h2 class="modulo-h2">Lado x 4</h2>
        </aside>
      </article>
      <div
        class="col-start-3 row-start-4 col-span-8 row-span-7"
        id="romboCalculos"
      ></div>
      <a
        href="#"
        class="col-start-5 row-start-12 col-span-4 text-center font-semibold text-secondary-400 text-xl font-Open-Sans"
        id="2"
        >Click para continuar</a
      >
    </section>
    <script src="../../renderer/lib/anime/modulo1/a3.js"></script>
    <script
      type="module"
      src="../../renderer/lib/raphael/raphael.mod1.a3.js"
    ></script>
    <script src="../../renderer/app.js"></script>
  </body>
</html>
