<div
  class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
  id="respuestaIncorrecta"
>
  <div
    class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
  >
    <h1 class="text-6xl text-red-500">Incorrecto</h1>
    <h2 class="text-4xl text-red-500">Vuelve a intentar</h2>
  </div>
</div>
<div
  class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
  id="respuestaCorrecta"
>
  <div
    class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
  >
    <h1 class="text-6xl text-green-500">Respuesta correcta!</h1>
    <h2 class="text-4xl text-green-500">Bien hecho!</h2>
  </div>
</div>
<section class="cuadricula bordes" id="perimetroTriangulo1">
  <h1 class="modulo-h1">Problema <span>1</span></h1>
  <h1 class="modulo-h1">Triangulos</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="perimetroTriangulo1Container"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un triángulo equilátero tiene lados de 5 cm. ¿Cuál es su perímetro?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaPerimetroTriangulo1"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600 p-2"
        id="btnPerimetroTriangulo1"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== Start Perimetro2 ========== -->
<section class="cuadricula" id="perimetroTriangulo2">
  <h1 class="modulo-h1">Problema <span>2</span></h1>
  <h1 class="modulo-h1">Triangulos</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="perimetroTriangulo2Container"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un triángulo isósceles tiene una base de 8 cm y lados iguales de 6 cm.
        ¿Cuál es su perímetro?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaPerimetroTriangulo2"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnPerimetroTriangulo2"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== End Perimetro2 ========== -->
<!-- ========== Start AreaTriangulo ========== -->
<section class="cuadricula bordes" id="areaTriangulo">
  <h1 class="modulo-h1">Problema <span>3</span></h1>
  <h1 class="modulo-h1">Triangulos</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="areaTrianguloContainer"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un triángulo tiene una base de 10 cm y una altura de 6 cm. ¿Cuál es su
        área?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaAreaTriangulo"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnAreaTriangulo"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== End AreaTriangulo ========== -->
<!-- #Cuadrilateros-->
<!-- ========== Start Cuadrado perimetro ========== -->
<section class="cuadricula bordes" id="cuadradoPerimetro">
  <h1 class="modulo-h1">Problema <span>1</span></h1>
  <h1 class="modulo-h1">Cuadrilateros</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="cuadradoPerimetroContainer"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un cuadrado tiene lados de 8 cm. ¿Cuál es su perímetro?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaCuadradoPerimetro"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnCuadradoPerimetro"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== End Cuadrado perimetro ========== -->
<!-- ========== Start Rectangulo perimetro ========== -->
<section class="cuadricula bordes" id="rectanguloPerimetro">
  <h1 class="modulo-h1">Problema <span>2</span></h1>
  <h1 class="modulo-h1">Cuadrilateros</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="rectanguloPerimetroContainer"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un rectángulo tiene una base de 10 cm y una altura de 5 cm. ¿Cuál es su
        perímetro?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="text"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaRectanguloPerimetro"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnRectanguloPerimetro"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== End Rectangulo perimetro ========== -->
<!-- ========== Start Cuadrado area ========== -->
<section class="cuadricula bordes" id="cuadradoArea">
  <h1 class="modulo-h1">Problema <span>3</span></h1>
  <h1 class="modulo-h1">Cuadrilateros</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="cuadradoAreaContainer"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un cuadrado tiene un lado de 6 cm. ¿Cuál es su área?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaCuadradoArea"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnCuadradoArea"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== End Cuadrado area ========== -->
<!-- ========== Start Rectangulo area ========== -->
<section class="cuadricula bordes" id="rectanguloArea">
  <h1 class="modulo-h1">Problema <span>4</span></h1>
  <h1 class="modulo-h1">Cuadrilateros</h1>
  <div
    class="row-start-4 col-start-2 row-span-6 col-span-4"
    id="rectanguloAreaContainer"
  ></div>
  <article
    class="row-start-4 col-start-7 row-span-7 col-span-5 bg-primary-950 flex flex-col p-4 gap-4"
  >
    <aside
      class="bg-white h-5/6 rounded-lg flex flex-col items-center justify-around"
    >
      <h2 class="modulo-h2">
        Un rectángulo tiene una base de 12 cm y una altura de 7 cm. ¿Cuál es su
        área?
      </h2>
    </aside>
    <aside class="flex">
      <input
        type="number"
        class="w-11/12 h-12 text-lg text-primary-950 font-medium font-Poppins p-4 placeholder:font-semibold placeholder:text-primary-950/75 outline-none"
        placeholder="Respuesta"
        id="respuestaRectanguloArea"
      />
      <button
        class="bg-secondary-400 w-1/12 hover:bg-secondary-500 active:bg-secondary-600"
        id="btnRectanguloArea"
      >
        <img src="../assets/images/flecha.png" alt="" />
      </button>
    </aside>
  </article>
</section>
<!-- ========== End Rectangulo area ========== -->

<script type="module" src="./lib/raphael/raphael.mod1.a5.js"></script>
<script src="./lib/preguntas/mod1.js"></script>
