<section class="cuadricula">
  <h1 class="modulo-h1">Titulo de la figura</h1>
  <article
    class="img row-start-3 col-start-5 row-span-4 col-span-4 bg-blue-100"
  ></article>
  <h2 class="modulo-h2 col-start-2 row-start-8 col-span-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nulla
    consequuntur laborum?
  </h2>
  <input
    type="text"
    class="col-start-3 row-start-10 col-span-5 outline-none border-2 border-black"
  />
  <button
    class="col-start-9 row-start-10 col-span-2 bg-primary-950 text-secondary-400 font-bold rounded-lg hover:opacity-75 active:opacity-50"
  >
    Responder
  </button>
</section>
