<div
  class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
  id="respuestaIncorrecta"
>
  <div
    class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
  >
    <h1 class="text-6xl text-red-500">Incorrecto</h1>
    <h2 class="text-4xl text-red-500">Vuelve a intentar</h2>
  </div>
</div>
<div
  class="hidden grid-cols-12 grid-rows-12 h-screen w-full p-4 absolute bg-black/75 z-50"
  id="respuestaCorrecta"
>
  <div
    class="row-start-4 col-start-4 row-span-6 col-span-6 bg-white shadow-lg shadow-white flex flex-col justify-center items-center rounded-xl gap-16"
  >
    <h1 class="text-6xl text-green-500">Respuesta correcta!</h1>
    <h2 class="text-4xl text-green-500">Bien hecho!</h2>
  </div>
</div>
<section class="cuadricula bordes" id="ejercicio1">
  <h1 class="modulo-h1">Cubo</h1>
  <article class="img row-start-3 col-start-5 row-span-4 col-span-4">
    <img
      src="../assets/images/realidad/cubo1.jpeg"
      alt=""
      class="w-full h-full"
    />
  </article>
  <h2 class="modulo-h2 col-start-2 row-start-8 col-span-10">
    Una caja de regalo tiene forma de cubo. Si cada arista mide 20 cm, ¿Cuál es
    su volumen?
  </h2>
  <input
    type="number"
    class="col-start-3 row-start-10 col-span-5 outline-none border-2 border-black p-4"
    id="respuestaEjercicio1"
  />
  <button
    class="col-start-9 row-start-10 col-span-2 bg-primary-950 text-secondary-400 font-bold rounded-lg hover:opacity-75 active:opacity-50"
    id="btnEjercicio1"
  >
    Responder
  </button>
</section>
<section class="cuadricula bordes" id="ejercicio2">
  <h1 class="modulo-h1">Cono</h1>
  <article class="img row-start-3 col-start-5 row-span-4 col-span-4">
    <img
      src="../assets/images/realidad/cono1.jpeg"
      alt=""
      class="w-full h-full"
    />
  </article>
  <h2 class="modulo-h2 col-start-2 row-start-8 col-span-10">
    Un helado tiene forma de cono. Si el radio de la base es de 3 cm y la altura
    de 8 cm, ¿Cuál es su volumen?
  </h2>
  <input
    type="number"
    class="col-start-3 row-start-10 col-span-5 outline-none border-2 border-black p-4"
    id="respuestaEjercicio2"
  />
  <button
    class="col-start-9 row-start-10 col-span-2 bg-primary-950 text-secondary-400 font-bold rounded-lg hover:opacity-75 active:opacity-50"
    id="btnEjercicio2"
  >
    Responder
  </button>
</section>
<section class="cuadricula bordes" id="Ejercicio3">
  <h1 class="modulo-h1">Cilindro</h1>
  <article class="img row-start-3 col-start-5 row-span-4 col-span-4">
    <img
      src="../assets/images/realidad/cilindro1.jpeg"
      alt=""
      class="w-full h-full"
    />
  </article>
  <h2 class="modulo-h2 col-start-2 row-start-8 col-span-10">
    Una lata de refresco tiene forma de cilindro. Si su altura es de 12 cm y el
    diámetro de su base es de 6 cm, ¿Cuál es su volumen?
  </h2>
  <input
    type="number"
    class="col-start-3 row-start-10 col-span-5 outline-none border-2 border-black p-4"
    id="respuestaEjercicio3"
  />
  <button
    class="col-start-9 row-start-10 col-span-2 bg-primary-950 text-secondary-400 font-bold rounded-lg hover:opacity-75 active:opacity-50"
    id="btnEjercicio3"
  >
    Responder
  </button>
</section>
<section class="cuadricula bordes" id="Ejercicio4">
  <h1 class="modulo-h1">Piramide</h1>
  <article class="img row-start-3 col-start-5 row-span-4 col-span-4">
    <img
      src="../assets/images/realidad/piramide1.jpeg"
      alt=""
      class="w-full h-full"
    />
  </article>
  <h2 class="modulo-h2 col-start-2 row-start-8 col-span-10">
    Una tienda de campaña tiene forma de pirámide. Si su base es un cuadrado de
    3 metros de lado y su altura es de 2 metros, ¿Cuál es su volumen de aire en
    el interior?
  </h2>
  <input
    type="number"
    class="col-start-3 row-start-10 col-span-5 outline-none border-2 border-black p-4"
    id="respuestaEjercicio4"
  />
  <button
    class="col-start-9 row-start-10 col-span-2 bg-primary-950 text-secondary-400 font-bold rounded-lg hover:opacity-75 active:opacity-50"
    id="btnEjercicio4"
  >
    Responder
  </button>
</section>
<script src="./lib/preguntas/mod4.d2.js"></script>
